In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://data.brasil.io/dataset/covid19/caso-full.csv.gz")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236208 entries, 0 to 236207
Data columns (total 16 columns):
city                                             235074 non-null object
city_ibge_code                                   235074 non-null float64
date                                             236208 non-null object
estimated_population_2019                        235074 non-null float64
is_last                                          236208 non-null bool
is_repeated                                      236208 non-null bool
last_available_confirmed                         7671 non-null float64
last_available_confirmed_per_100k_inhabitants    7348 non-null float64
last_available_date                              7671 non-null object
last_available_death_rate                        923 non-null float64
last_available_deaths                            7262 non-null float64
place_type                                       236208 non-null object
state                                            236208 non-null object
new_confirmed                                    236208 non-null int64
new_deaths                                       236208 non-null int64
had_cases                                        236208 non-null bool
dtypes: bool(3), float64(6), int64(2), object(5)
memory usage: 24.1+ MB

In [4]:
data['new_deaths'].sum()

694

In [5]:
state_summary = data.groupby(['date', 'state'])['new_deaths', 'new_confirmed'].sum().reset_index()

In [6]:
state_summary.head(10)

         date state  new_deaths  new_confirmed
0  2020-02-26    AC           0              0
1  2020-02-26    AL           0              0
2  2020-02-26    AM           0              0
3  2020-02-26    AP           0              0
4  2020-02-26    BA           0              0
5  2020-02-26    CE           0              0
6  2020-02-26    DF           0              0
7  2020-02-26    ES           0              0
8  2020-02-26    GO           0              0
9  2020-02-26    MA           0              0

In [7]:
state_summary.to_json("state_summary.json", orient="records")

In [8]:
state_summary.to_csv("state_summary.csv", index=False)